.dashboard {
    display: flex;
    height: 100vh;
    background-color: #F4F4F4;

    &__content {
        width: 70%;
        height: 100%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: auto;

        overflow: scroll;
    }

    .radarContainer {

        background-color: white;
        border-radius: 18px;
        padding: 32px;
    }
}

.highlightsContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    .card {
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
    }
}

.sunbust {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    &__chart,
    &__infoContainer {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__infoContainer {
        gap: 16px;

        .card {
            height: 100%;
            justify-content: space-evenly;
        }
    }

}


.bestAtributes {

    width: 50%;
}

.containerProficiency {

    display: flex;
    flex-direction: column;
    gap: 0.8em;
    align-items: center;

    p {

        width: 80%;
        //text-align: start;
        line-height: 24px;
    }

}


.radarContainer {

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proficiency {

    &__resume {
        width: 50%;
        gap: 20px;
        height: 100%;

        &__titles,
        &__content {
            width: 100%;

            display: flex;
            gap: 20px;

            h3,
            div {
                flex: 1;
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }
    }


}


.emptyDashboard {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 1em;
}

.emptyResults{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    //align-self: center;
    width: 100%;
    gap: 1em;
    margin: auto;
}


.sunburstInfo {

    width: 40%;
    gap: 2em;
}

.complexChart {

    width: 50%;

    gap: 1.5em;

    canvas {

        width: 80%;
    }
}

.proficiency__container {

    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;

    .proficiency__view {

        width: 50%;
        gap: 20px;

        .infoValue {

            font-size: 48px;
        }


    }
}


.infoTitle {

    font-size: 24px;
    font-weight: 600;
    color: rgba($color: #1D1D1D, $alpha: 0.7);

}

.titles {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    gap: 0.5em;
}

.infoValue {

    font-size: 40px;
}

.infoDescription {

    font-size: 24px;
    font-weight: 600;
    color: rgba($color: #1D1D1D, $alpha: 0.7);

}

.proficiency__view {

    .infoTitle {

        font-size: 24px;
        font-weight: 600;
        color: rgba($color: #1D1D1D, $alpha: 0.7);

    }

    .titles {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 60%;
        gap: 0.5em;
    }

    .infoValue {

        font-size: 40px;
    }

    .infoDescription {

        font-size: 24px;
        font-weight: 600;
        color: rgba($color: #1D1D1D, $alpha: 0.7);

    }
}


.btnFilterContainer {

    display: flex;
    width: 100%;
    justify-content: space-around;


  
}

.proficiency {

    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.proficiencyContainer {

    width: 100%;
    text-align: center;

    p {
        width: 100%;
    }

    .proficiencyName {
        text-align: center;
    }

    .proficiencyGrade {
        text-align: center;

    }
}

#hChart {

    margin-top: 16px;
    margin-bottom: 16px;
}


.arrowContainer {

    display: flex;
    align-items: center;
    gap: 0.5em;

    svg:hover {

        cursor: pointer;
    }
}

.separador {

    width: 100%;
    background-color: #DBDBDB;
     padding: 8px;
    border-radius: 16px;
    text-align: center;
}

.atributos {

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 1em;

    .container {
        display: flex;
        width: 100%;
        gap: 20px;
        //height: 700px;

    }
}

.atributoContainer {

    align-items: center;
    width: 40%;
    gap: 1em;
    height: 100%;
    justify-content: center;

    img{

        width: 100px;
        height: 100px;

    }

    .atributoValue {

        font-size: 48px;
    }

    .atributoProficiency {

        font-size: 24px;
        font-weight: 600;
    }

    .atributoDescription {

        margin-top: 24px;
    }

    p {

        //width: 60%;
    }

    #btnDetallesAtributos {

        margin-top: 32px;
        width: 70%;

    }
}

.graphAtributosContainer {

    width: 60%;
    gap: 1.5em;
    height: 100%;

    .container {

        height: 50%;
        width: 100%;
    }
}

#chartAtributos {

    width: 100%;
}

.titleChart{


    font-size: 24px;
    font-weight: 700;
}

.descriptionChart{

    //font-size: 24px;
    font-weight: 600;
    color: #818181;
}

.subtitileChart{

    font-size: 24px;
    font-weight: 700;
}

.chart{

    // gap: 1.5em;
    gap: 1em;
}

.containerEquipo{

    display: flex;
    width: 100%;
    gap: 20px;
    height: 100%;

    .chart{

        width: 60%;
    }   

    
}

.testLoad{

    width: 100%;
    background-color: #DBDBDB;
    padding: 16px;
    border-radius: 16px;
    
    font-weight: 500;
  
    select{

        background-color:#DBDBDB ;
        width: 20%;
        padding-left: 16px;
       // padding: 16px;
        border: 1px solid #1D1D1D;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;

        option{

            width: min-content;

        }
    }
}


.chartGrande{

    width: 60%;
}


.radarChartContainer{

    width: 100%;
    height: 600px;
}


.dashboardContainer{

    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    //overflow: scroll;
}

.chartContainerGrande{

    display: flex;
    width: 100%;
    height: 350px;
    justify-content: center;
}