.dashboard {
    display: flex;
    height: 100vh;
    background-color: #F4F4F4;

    &__content {
        width: 100%;
        height: 100%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 40px;

        overflow: scroll;
    }

    .radarContainer {

        background-color: white;
        border-radius: 18px;
        padding: 32px;
    }
}

.highlightsContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    .card {
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
    }
}

.sunbust {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    &__chart,
    &__infoContainer {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__infoContainer {
        gap: 20px;

        .card {
            height: 100%;
            justify-content: space-evenly;
        }
    }

}


.containerProficiency {

    display: flex;
    flex-direction: column;
    gap: 0.8em;
    align-items: center;

    p{

        width: 80%;
        //text-align: start;
        line-height: 24px;
    }

}


.radarContainer {

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proficiency {

    &__resume {
        width: 50%;
        gap: 20px;

        &__titles,
        &__content {
            width: 100%;

            display: flex;
            gap: 20px;

            h3,
            div {
                flex: 1;
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }
    }
}


.emptyDashboard {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 1em;
}


.sunburstInfo {

    width: 40%;
    gap: 2em;
}

.complexChart {

    width: 50%;

    gap: 1.5em;

    canvas {

        width: 80%;
    }
}

.proficiency__container {

    display: flex;
    gap: 20px;

    .proficiency__view {

        width: 50%;
        gap: 20px;

        .infoValue {

            font-size: 48px;
        }


    }
}


.infoTitle {

    font-size: 24px;
    font-weight: 600;
    color: rgba($color: #1D1D1D, $alpha: 0.7);

}

.titles {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    gap: 0.5em;
}

.infoValue {

    font-size: 40px;
}

.infoDescription {

    font-size: 24px;
    font-weight: 600;
    color: rgba($color: #1D1D1D, $alpha: 0.7);

}
.proficiency__view {

    .infoTitle {

        font-size: 24px;
        font-weight: 600;
        color: rgba($color: #1D1D1D, $alpha: 0.7);

    }

    .titles {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 60%;
        gap: 0.5em;
    }

    .infoValue {

        font-size: 40px;
    }

    .infoDescription {

        font-size: 24px;
        font-weight: 600;
        color: rgba($color: #1D1D1D, $alpha: 0.7);

    }
}


.btnFilterContainer {

    display: flex;
    width: 100%;
    justify-content: space-around;
}

.proficiency {

    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.proficiencyContainer {

    width: 100%;
    text-align: center;

    p {
        width: 100%;
    }

    .proficiencyName {
        text-align: start;
    }

    .proficiencyGrade {
        text-align: end;

    }
}


.arrowContainer {

    display: flex;
    align-items: center;
    gap: 0.5em;

    svg:hover {

        cursor: pointer;
    }
}