.progressBar{
    margin: 20px;
    background-color: gray;
    height: 10px;
    width: 70%;
    border-radius: 20px;
}

.progressDone{

    background-color: red;
    height: 100%;
   
    border-radius: 20px;

}