
.bodySurvey{

    background-color: #F3F3F3;
    overflow: auto;
}
.survey {

    display: flex;
    //background-color: gainsboro;
    //border-color: gainsboro;
    padding: 48px;
    row-gap: 3.5em;
    
    width: 70%;
    margin: auto;
    

    .levels {

        display: flex;
        width: 100%;
        justify-content: space-between;

        .levelContainer {

            display: flex;
            gap: 0.3em;
            align-items: center;

            img {
                height: 70%;
                cursor: pointer;
            }
        }
    }

    .descriptions {

        display: flex;
        width: 100%;
        justify-content: space-between;

        text-align: left;


    }

    .options {

        display: flex;
        width: 70%;
        justify-content: space-between;

        .optionSurvey {

            width: 64px;
            height: 64px;
            border: none;
            border-radius: 16px;

            &:hover {

                background-color: #021E66;
                color: white;
            }
        }

        .optionSelected {

            background-color: #021E66;
            color: white;
        }
    }
}

.dialogSurvey {

    text-align: left;
    border: 0;
    border-radius: 0.7rem;
    box-shadow: 0 0 1em rgb(0 0 0 /0.2);
    width: 70%;
    padding: 32px;
    margin: auto;

    .btn {

        display: block;
        width: 60%;
        margin: 0 auto;
        margin-top: 32px;
    }

    &::backdrop {

        background-color: rgb(0 0 0 /0.5);
    }
}


.surveyBasicInfo {

    
    margin: auto;
    margin-top: 48px;
    gap: 1em;

    width: 50%;

    select {

        width: 100%;
    }

    
}

.holder{

    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.35em;
    align-items: center;
    margin-top: 8px;
}

.descriptionBasic{

    text-align: left;
}

.hidebox {

    display: none;
}

.label-radio{
    display: flex;
    width: 64px;
    height: 64px;
    border: 1px solid #1D1D1D; 
    text-align: center;
    border-radius: 16px;
    background-color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
}

.label-select{

    display: flex;
    border: 1px solid #021E66;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 4px 12px;
    cursor: pointer;

}

input[type=radio]:checked + .label-radio{

    background-color: #1D1D1D; 
    color: white;
}


input[type=radio]:checked + .label-select{

    background-color: #0073A7; 
    color: white;
}

.surveyContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}


.seleccionado {

    background-color: #0073A7; 
    color: white;
}