.test{

    row-gap: 1.3em;
    width: 40%;
    .infoContainer{

        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
}

.contentHistory{

    display: flex;
    justify-content: space-evenly;
    height: 90%;
    margin-left: 8px;
    margin-top: 50px;
    padding: 16px;
    width: 100%;
    background-color: #F3F3F3;
}