@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: bold;
  color: #3E4D72;
}

p {
  font-family: "Poppins";
}

::-webkit-scrollbar {
  display: none;
}

.linkRegister {
  cursor: pointer;
}

.inputs {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #1D1D1D;
  padding: 8px;
}
.inputs--login {
  margin-bottom: 8px;
  border-color: #1D1D1D;
  border-width: 1px;
  padding: 8px;
}
.inputs--test {
  width: 60%;
  margin-bottom: 8px;
  border-color: #1D1D1D;
  border-width: 1px;
  padding: 8px;
}
.inputs--form {
  width: 80%;
  margin-top: 8px;
}
.inputs--add {
  width: 75%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.label--Login {
  color: #1D1D1D;
}

button {
  cursor: pointer;
}

#btnGeneralProficiency {
  width: 60%;
}

.gone {
  display: none !important;
}

.btnGeneral {
  width: 30%;
}

.btn {
  border-radius: 8px;
  border: 1px solid #1D1D1D;
  background-color: white;
  padding: 10px;
  cursor: pointer;
}
.btn--login {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #1D1D1D;
  background-color: white;
  padding: 10px;
  cursor: pointer;
}
.btn--register {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #1D1D1D;
  background-color: white;
  padding: 10px;
  cursor: pointer;
}
.btn--nav {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  background-color: #1D1D1D;
  color: white;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  font-weight: bold;
}
.btn--nav::after {
  content: "+";
}
.btn--filter {
  border: 1px solid #0073A7;
}
.btn--filter:hover {
  background-color: #0073A7;
  color: white;
}
.btn--active {
  background-color: #0073A7;
  color: white;
  border: none;
}
.btn--addInput {
  padding: 9px;
  border-radius: 8px;
  background-color: #578AEF;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: white;
  font-weight: bold;
  border: none;
}
.btn--deleteInput {
  padding: 9px;
  border-radius: 8px;
  background-color: #EC6969;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: white;
  font-weight: bold;
  border: none;
}
.btn--survey {
  width: 40%;
  color: white;
  border: none;
  background-color: #EC6969;
  margin-top: 16px;
  margin-bottom: 32px;
}
.btn--surveyActive {
  width: 40%;
  border: none;
  color: white;
  background-color: #EC6969;
}

.btnFinishTest {
  width: 50%;
  margin: 0;
}

.card {
  background-color: white;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  padding: 32px;
  font-family: "Poppins";
}
.card--row {
  flex-direction: row;
  gap: 40px;
}
.card__valueContainer {
  display: flex;
  justify-content: center;
}
.card__value {
  font-weight: bold;
}
.card .detailsChartBtn {
  margin-top: 8px;
  width: 80%;
}

.test {
  row-gap: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.test .infoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: #F3F3F3;
  padding: 20px;
  border-radius: 8px;
}
.test .percentage {
  font-size: 48px;
  font-weight: bold;
}
.test .copyContainer {
  display: flex;
  gap: 0.3em;
}
.test .copyContainer .linkContainer {
  display: flex;
  background-color: #F3F3F3;
  vertical-align: middle;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}
.test .cursor {
  cursor: pointer;
}

.contentHistory {
  display: flex;
  height: 90%;
  margin-left: 8px;
  margin-top: 50px;
  padding: 16px;
  width: 100%;
  background-color: #F3F3F3;
  gap: 1.3em;
  justify-content: start;
  flex-wrap: wrap;
  overflow: scroll;
}

.btnDetails {
  width: 80%;
}

.bodySurvey {
  background-color: #F3F3F3;
}

.survey {
  display: flex;
  padding: 48px;
  row-gap: 3.5em;
  width: 70%;
  margin: auto;
}
.survey .levels {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.survey .levels .levelContainer {
  display: flex;
  gap: 0.3em;
  align-items: center;
}
.survey .levels .levelContainer img {
  height: 70%;
  cursor: pointer;
}
.survey .descriptions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: left;
}
.survey .options {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.survey .options .optionSurvey {
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 16px;
}
.survey .options .optionSurvey:hover {
  background-color: #021E66;
  color: white;
}
.survey .options .optionSelected {
  background-color: #021E66;
  color: white;
}

.dialogSurvey {
  text-align: left;
  border: 0;
  border-radius: 0.7rem;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  width: 70%;
  padding: 32px;
  margin: auto;
}
.dialogSurvey .btn {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 32px;
}
.dialogSurvey::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.dialogSurvey::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.surveyBasicInfo {
  margin: auto;
  margin-top: 48px;
  gap: 1em;
  width: 50%;
}
.surveyBasicInfo select {
  width: 100%;
}

.holder {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 0.35em;
  align-items: center;
  margin-top: 8px;
}

.descriptionBasic {
  text-align: left;
}

.hidebox {
  display: none;
}

.label-radio {
  display: flex;
  width: 64px;
  height: 64px;
  border: 1px solid #1D1D1D;
  text-align: center;
  border-radius: 16px;
  background-color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.label-select {
  display: flex;
  border: 1px solid #021E66;
  text-align: center;
  border-radius: 8px;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 12px;
  cursor: pointer;
}

input[type=radio]:checked + .label-radio {
  background-color: #1D1D1D;
  color: white;
}

input[type=radio]:checked + .label-select {
  background-color: #0073A7;
  color: white;
}

.surveyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.seleccionado {
  background-color: #0073A7;
  color: white;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100px;
  min-width: 100px;
  height: 90%;
  padding: 2em 1em;
  background: #1D1D1D;
  color: white;
  bottom: 0;
  top: 10px;
  overflow: hidden;
  transition: width 0.2s linear;
  border-radius: 0px 24px 24px 0px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  width: 200px;
  transition: all 0.5s ease;
}
.nav .btn--nav::after {
  content: "Crear prueba";
  transition: all 0.5s ease;
}
.nav .nav__item {
  justify-content: flex-start;
  padding-left: 1em;
}
.nav .nav__item--home a::after {
  content: "Home";
}
.nav .nav__item--team a::after {
  content: "Equipo";
}
.nav .nav__item--herarchy a::after {
  content: "Jerarquia";
}
.nav .nav__item--atributes a::after {
  content: "Atributos";
}
.nav .nav__item--history a::after {
  content: "Historial";
}
.nav .nav__item--report a::after {
  content: "Informe";
}
.nav .nav__item--logout a::after {
  content: "Salir";
}
.nav__container {
  display: flex;
  align-items: center;
}
.nav__logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  align-items: center;
}
.nav__logo img {
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
  width: 45px;
  align-self: center;
}
.nav ul {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav__item {
  display: flex;
  justify-content: center;
  list-style: none;
}
.nav__item a {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.nav__item a img {
  opacity: 0.6;
}
.nav__item a:hover {
  color: white;
}
.nav__item a:hover img {
  opacity: 1;
}
.nav__item--active {
  position: relative;
}
.nav__item--active::after {
  content: " ";
  background-color: #fff;
  width: 12px;
  height: 100%;
  border-radius: 0 8px 8px 0;
  position: absolute;
  top: 0;
  left: -1em;
}
.nav__item--active a {
  color: white;
}
.nav__item--active a img {
  opacity: 1;
}

.progressBar {
  margin: 20px;
  background-color: gray;
  height: 10px;
  width: 70%;
  border-radius: 20px;
}

.progressDone {
  background-color: red;
  height: 100%;
  border-radius: 20px;
}

.login {
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: center;
  gap: 120px;
  padding: 0.5em;
  align-items: center;
}
.login__title {
  font-family: "Poppins";
  color: #021E66;
  font-weight: bold;
  font-size: 2em;
  display: inline;
}
.login__description {
  font-size: 1em;
  color: #3E4D72;
}
.login__container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
.login__form {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.login__imgContainer {
  border-radius: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
.login__img {
  width: auto;
  height: 100%;
  border-radius: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 4/5;
}

.logo {
  margin-left: 3em;
  margin-top: 1em;
}

.dashboard {
  display: flex;
  height: 100vh;
  background-color: #F4F4F4;
}
.dashboard__content {
  width: 70%;
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  overflow: scroll;
}
.dashboard .radarContainer {
  background-color: white;
  border-radius: 18px;
  padding: 32px;
}

.highlightsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.highlightsContainer .card {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.sunbust__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.sunbust__chart, .sunbust__infoContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sunbust__infoContainer {
  gap: 16px;
}
.sunbust__infoContainer .card {
  height: 100%;
  justify-content: space-evenly;
}

.bestAtributes {
  width: 50%;
}

.containerProficiency {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  align-items: center;
}
.containerProficiency p {
  width: 80%;
  line-height: 24px;
}

.radarContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proficiency__resume {
  width: 50%;
  gap: 20px;
  height: 100%;
}
.proficiency__resume__titles, .proficiency__resume__content {
  width: 100%;
  display: flex;
  gap: 20px;
}
.proficiency__resume__titles h3,
.proficiency__resume__titles div, .proficiency__resume__content h3,
.proficiency__resume__content div {
  flex: 1;
}
.proficiency__resume__titles div, .proficiency__resume__content div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.emptyDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  gap: 1em;
}

.emptyResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  gap: 1em;
  margin: auto;
}

.sunburstInfo {
  width: 40%;
  gap: 2em;
}

.complexChart {
  width: 50%;
  gap: 1.5em;
}
.complexChart canvas {
  width: 80%;
}

.proficiency__container {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}
.proficiency__container .proficiency__view {
  width: 50%;
  gap: 20px;
}
.proficiency__container .proficiency__view .infoValue {
  font-size: 48px;
}

.infoTitle {
  font-size: 24px;
  font-weight: 600;
  color: rgba(29, 29, 29, 0.7);
}

.titles {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  gap: 0.5em;
}

.infoValue {
  font-size: 40px;
}

.infoDescription {
  font-size: 24px;
  font-weight: 600;
  color: rgba(29, 29, 29, 0.7);
}

.proficiency__view .infoTitle {
  font-size: 24px;
  font-weight: 600;
  color: rgba(29, 29, 29, 0.7);
}
.proficiency__view .titles {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  gap: 0.5em;
}
.proficiency__view .infoValue {
  font-size: 40px;
}
.proficiency__view .infoDescription {
  font-size: 24px;
  font-weight: 600;
  color: rgba(29, 29, 29, 0.7);
}

.btnFilterContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.proficiency {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.proficiencyContainer {
  width: 100%;
  text-align: center;
}
.proficiencyContainer p {
  width: 100%;
}
.proficiencyContainer .proficiencyName {
  text-align: center;
}
.proficiencyContainer .proficiencyGrade {
  text-align: center;
}

#hChart {
  margin-top: 16px;
  margin-bottom: 16px;
}

.arrowContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.arrowContainer svg:hover {
  cursor: pointer;
}

.separador {
  width: 100%;
  background-color: #DBDBDB;
  padding: 8px;
  border-radius: 16px;
  text-align: center;
}

.atributos {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  gap: 1em;
}
.atributos .container {
  display: flex;
  width: 100%;
  gap: 20px;
}

.atributoContainer {
  align-items: center;
  width: 40%;
  gap: 1em;
  height: 100%;
  justify-content: center;
}
.atributoContainer img {
  width: 100px;
  height: 100px;
}
.atributoContainer .atributoValue {
  font-size: 48px;
}
.atributoContainer .atributoProficiency {
  font-size: 24px;
  font-weight: 600;
}
.atributoContainer .atributoDescription {
  margin-top: 24px;
}
.atributoContainer #btnDetallesAtributos {
  margin-top: 32px;
  width: 70%;
}

.graphAtributosContainer {
  width: 60%;
  gap: 1.5em;
  height: 100%;
}
.graphAtributosContainer .container {
  height: 50%;
  width: 100%;
}

#chartAtributos {
  width: 100%;
}

.titleChart {
  font-size: 24px;
  font-weight: 700;
}

.descriptionChart {
  font-weight: 600;
  color: #818181;
}

.subtitileChart {
  font-size: 24px;
  font-weight: 700;
}

.chart {
  gap: 1em;
}

.containerEquipo {
  display: flex;
  width: 100%;
  gap: 20px;
  height: 100%;
}
.containerEquipo .chart {
  width: 60%;
}

.testLoad {
  width: 100%;
  background-color: #DBDBDB;
  padding: 16px;
  border-radius: 16px;
  font-weight: 500;
}
.testLoad select {
  background-color: #DBDBDB;
  width: 20%;
  padding-left: 16px;
  border: 1px solid #1D1D1D;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}
.testLoad select option {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.chartGrande {
  width: 60%;
}

.radarChartContainer {
  width: 100%;
  height: 600px;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.chartContainerGrande {
  display: flex;
  width: 100%;
  height: 350px;
  justify-content: center;
}

.performance {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-radius: 16px;
}
.performance h2 {
  margin-bottom: 48px;
}

.performanceBody {
  width: 70%;
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  overflow: scroll;
}
.performanceBody .atributos {
  background-color: white;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 32px;
}
.performanceBody .atributos .atributosContainer {
  display: flex;
  justify-content: space-between;
}
.performanceBody .atributos .atributosContainer p {
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
}
.performanceBody .atributos .atributosContainer .atributo {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 100px;
}
.performanceBody .atributos .atributosContainer .atributo img {
  width: 80%;
}
.performanceBody .atributos .atributosContainer .selected {
  width: 14%;
}
.performanceBody .generalActions {
  background-color: white;
  padding: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.performanceBody .generalActions .actionsContainer {
  margin-top: 32px;
  display: flex;
  width: 100%;
}
.performanceBody .generalActions .action {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 0.3em;
  padding: 8px;
}
.performanceBody .generalActions .action p {
  margin-top: 16px;
  text-align: start;
}
.performanceBody .levelPerformanceContainer {
  display: flex;
  height: 600px;
}
.performanceBody .containerArrow {
  width: 200px;
}
.performanceBody .arrowInfo {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #F3F3F3;
  padding: 16px;
  border-radius: 8px;
  margin-right: 16px;
  text-align: center;
  font-weight: bold;
}
.performanceBody .arrow {
  position: relative;
}
.performanceBody .arrow .arrowTriangle {
  z-index: 10;
  position: absolute;
  right: -30px;
  top: calc(50% - 15px);
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #F3F3F3;
  margin-right: 16px;
}
.performanceBody .bar {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 10%;
  background-color: #DADADA;
  z-index: 0;
}
.performanceBody .ninety {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 90%;
  z-index: 1;
  background-color: #909090;
}
.performanceBody .seventyeight {
  width: 100%;
  height: 78%;
  position: absolute;
  background-color: #4D4D4D;
  z-index: 2;
  bottom: 0;
}
.performanceBody .sixty {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 60%;
  z-index: 3;
  background-color: #1D1D1D;
}
.performanceBody .levelPerformance {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.performanceBody .levelPerformance .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  background-color: white;
}
.performanceBody .levelPerformance .container p {
  font-weight: bold;
}
.performanceBody .levelPerformance .container:nth-of-type(1) {
  height: 10%;
}
.performanceBody .levelPerformance .container:nth-of-type(2) {
  height: 12%;
}
.performanceBody .levelPerformance .container:nth-of-type(3) {
  height: 18%;
}
.performanceBody .levelPerformance .container:nth-of-type(4) {
  height: 60%;
}
.performanceBody .levelDetails {
  width: 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.performanceBody .levelDetails .container {
  background-color: #F3F3F3;
  padding: 48px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}
.performanceBody .levelDetails .container:nth-of-type(1) {
  height: 10%;
}
.performanceBody .levelDetails .container:nth-of-type(2) {
  height: 12%;
}
.performanceBody .levelDetails .container:nth-of-type(3) {
  height: 18%;
}
.performanceBody .levelDetails .container:nth-of-type(4) {
  height: 60%;
}

.nivelesPuntaje {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  gap: 0.7em;
  flex: 1;
}
.nivelesPuntaje .puntaje {
  gap: 1em;
  background-color: #F3F3F3;
  width: 50%;
  height: 100%;
}
.nivelesPuntaje .puntaje__title {
  font-size: 32px;
}
.nivelesPuntaje .puntaje__name {
  font-weight: bold;
}
.nivelesPuntaje .puntaje__description {
  text-align: start;
}

.explicacionDesempeno {
  background-color: #F3F3F3;
}
.explicacionDesempeno .desempenoContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  width: 100%;
  align-items: center;
}
.explicacionDesempeno .desempenoContainer .desempenoValue {
  font-size: 68px;
}
.explicacionDesempeno .desempenoContainer .info {
  text-align: start;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.explicacionDesempeno .desempenoContainer .value {
  width: 40%;
}
.explicacionDesempeno .desempenoAcciones {
  margin-top: 24px;
  text-align: left;
}

.desempenoValueName {
  font-weight: bold;
}

.categoryHeader {
  gap: 1.5em;
}
.categoryHeader__btns {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.chartInformeContainer {
  width: 70%;
  display: flex;
  justify-content: center;
}

.graficasContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.ulInforme {
  width: 80%;
}
.ulInforme li {
  margin-top: 8px;
}

.formTitle {
  text-align: center;
  margin-bottom: 32px;
}

.upload {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 70%;
  align-items: center;
  gap: 1em;
}
.uploadContainer {
  background: #F3F3F3;
  min-height: 180px;
  justify-content: space-around;
  margin-top: 32px;
  width: 60%;
}
.uploadContainer button {
  width: 50%;
}

.formSubTitle {
  text-align: center;
  margin-bottom: 32px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 32px;
  align-items: center;
  width: 70%;
  margin: auto;
  margin-top: 48px;
}

span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: bold;
  color: #3E4D72;
}

.testForm {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
}

.input-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.input-box span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 8px;
}

.infoContainer {
  display: flex;
  align-items: center;
}

.bxs-info-circle {
  cursor: pointer;
  font-size: 18px;
}

.selectForm {
  width: 80%;
  margin-bottom: 16px;
  border: 1px solid #1D1D1D;
  border-radius: 8px;
  padding: 8px;
  padding-right: 8px;
  margin-top: 8px;
}

select {
  padding-right: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../resources/dropdown.png");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 16px;
}

.labelAdd {
  display: flex;
  align-items: baseline;
}

/*  Trust factor */
.trustOrganization {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trustLevel {
  padding: 32px;
}

.trustbox .bx {
  font-size: 48px;
}

.trustbox {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  text-align: center;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
}

.piramidJerarchy .bx {
  padding-left: 8px;
}

.piramidJerarchy {
  text-align: center;
}

.testBody {
  display: flex;
  height: 100vh;
}
.testBody main {
  box-sizing: border-box;
  overflow: scroll;
  height: 100%;
}

.pyramidInfo {
  background-color: #F3F3F3;
  padding: 16px;
  margin-top: 16px;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  min-height: 214px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pyramid {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.pyramidContainers {
  width: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
}

.pyramid img {
  width: 48px;
}

.addInput {
  width: 77%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 8px;
}

.pyramid .labelAdd {
  display: inline-table;
  margin-top: 16px;
  width: 100%;
}

.pyramidInfo .title {
  margin-bottom: 16px;
}

#emails {
  border-radius: 8px;
  width: 50%;
  height: 200px;
  padding: 16px;
}

.labelUpload {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F3F3F3;
  border-radius: 16px;
  cursor: pointer;
}
.labelUpload p {
  text-align: center;
  font-weight: bold;
}
.labelUpload img {
  width: 20%;
  height: 20%;
}

#upload {
  display: none;
}/*# sourceMappingURL=style.css.map */