@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html, body {
  width: 100%;
  height: 100%;
}

span {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: bold;
  color: #3E4D72;

}

p {
  font-family: 'Poppins';
}

::-webkit-scrollbar {
  display: none;
}

.linkRegister{

  cursor: pointer;
}

@import './Components/inputs';
@import './Components/label';
@import './Components/btn';
@import './Components/card';
@import './Components/nav';
@import './Pages/login';
@import './Pages/dashboard';
@import './Pages/test';


