@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html, body {
  width: 100%;
  height: 100%;
}

span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: bold;
  color: #3E4D72;
}

p {
  font-family: "Poppins";
}

::-webkit-scrollbar {
  display: none;
}

.linkRegister {
  cursor: pointer;
}

.inputs {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #1D1D1D;
  padding: 8px;
}
.inputs--login {
  margin-bottom: 8px;
  border-color: #1D1D1D;
  border-width: 1px;
  padding: 8px;
}
.inputs--form {
  width: 80%;
  margin-top: 8px;
}
.inputs--add {
  width: 75%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.label--Login {
  color: #1D1D1D;
}

button {
  cursor: pointer;
}

.btn {
  border-radius: 8px;
  border: 1px solid #1D1D1D;
  background-color: white;
  padding: 10px;
  cursor: pointer;
}
.btn--login {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #1D1D1D;
  background-color: white;
  padding: 10px;
  cursor: pointer;
}
.btn--register {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #1D1D1D;
  background-color: white;
  padding: 10px;
  cursor: pointer;
}
.btn--nav {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  background-color: #1D1D1D;
  color: white;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  font-weight: bold;
}
.btn--nav::after {
  content: "+";
}
.btn--filter {
  border: 1px solid #0073A7;
}
.btn--filter:hover {
  background-color: #0073A7;
  color: white;
}
.btn--active {
  background-color: #0073A7;
  color: white;
  border: none;
}
.btn--addInput {
  padding: 9px;
  border-radius: 8px;
  background-color: #578AEF;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: white;
  font-weight: bold;
  border: none;
}
.btn--deleteInput {
  padding: 9px;
  border-radius: 8px;
  background-color: #EC6969;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: white;
  font-weight: bold;
  border: none;
}
.btn--survey {
  color: white;
  border: none;
  background-color: rgba(236, 105, 105, 0.3);
}
.btn--surveyActive {
  width: 60%;
  border: none;
  color: white;
  background-color: #EC6969;
}

.btnFinishTest {
  width: 50%;
  margin: 0;
}

.card {
  background-color: white;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  padding: 32px;
  font-family: "Poppins";
}
.card--row {
  flex-direction: row;
  gap: 40px;
}
.card__valueContainer {
  display: flex;
  justify-content: center;
}
.card__value {
  font-weight: bold;
}
.card .detailsChartBtn {
  margin-top: 8px;
  width: 80%;
}

.test {
  row-gap: 1.3em;
  width: 40%;
}
.test .infoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.contentHistory {
  display: flex;
  justify-content: space-evenly;
  height: 90%;
  margin-left: 8px;
  margin-top: 50px;
  padding: 16px;
  width: 100%;
  background-color: #F3F3F3;
}

.survey {
  display: flex;
  background-color: gainsboro;
  border-color: gainsboro;
  padding: 48px;
  row-gap: 3.5em;
  margin: 32px;
}
.survey .levels {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.survey .levels .levelContainer {
  display: flex;
  gap: 0.3em;
  align-items: center;
}
.survey .levels .levelContainer img {
  height: 70%;
  cursor: pointer;
}
.survey .descriptions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: left;
}
.survey .options {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.survey .options .optionSurvey {
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 16px;
}
.survey .options .optionSurvey:hover {
  background-color: #021E66;
  color: white;
}
.survey .options .optionSelected {
  background-color: #021E66;
  color: white;
}

.dialogSurvey {
  text-align: left;
  border: 0;
  border-radius: 0.7rem;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  width: 70%;
  padding: 32px;
  margin: auto;
}
.dialogSurvey .btn {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 32px;
}
.dialogSurvey::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.dialogSurvey::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.surveyBasicInfo {
  margin: auto;
  gap: 0.5em;
  width: 50%;
}
.surveyBasicInfo select {
  width: 100%;
}

.hidebox {
  display: none;
}

.label-radio {
  display: flex;
  width: 64px;
  height: 64px;
  border: none;
  text-align: center;
  border-radius: 16px;
  background-color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.label-select {
  display: flex;
  border: 1px solid #021E66;
  text-align: center;
  border-radius: 8px;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
  cursor: pointer;
}

input[type=radio]:checked + .label-radio {
  background-color: #021E66;
  color: white;
}

input[type=radio]:checked + .label-select {
  background-color: #0073A7;
  color: white;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100px;
  min-width: 100px;
  height: 90%;
  padding: 2em 1em;
  background: #1D1D1D;
  color: white;
  bottom: 0;
  top: 10px;
  overflow: hidden;
  transition: width 0.2s linear;
  border-radius: 0px 24px 24px 0px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.nav:hover {
  width: 200px;
  transition: all 0.5s ease;
}
.nav:hover .btn--nav::after {
  content: "Crear prueba";
  transition: all 0.5s ease;
}
.nav:hover .nav__item {
  justify-content: flex-start;
  padding-left: 1em;
}
.nav:hover .nav__item--home a::after {
  content: "Home";
}
.nav:hover .nav__item--team a::after {
  content: "Equipo";
}
.nav:hover .nav__item--herarchy a::after {
  content: "Jerarquia";
}
.nav:hover .nav__item--atributes a::after {
  content: "Atributos";
}
.nav:hover .nav__item--history a::after {
  content: "Historial";
}
.nav:hover .nav__item--report a::after {
  content: "Informe";
}
.nav:hover .nav__item--logout a::after {
  content: "Salir";
}
.nav__container {
  display: flex;
  align-items: center;
}
.nav__logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  align-items: center;
}
.nav__logo img {
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
  width: 45px;
  align-self: center;
}
.nav ul {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav__item {
  display: flex;
  justify-content: center;
  list-style: none;
}
.nav__item a {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.nav__item a img {
  opacity: 0.6;
}
.nav__item a:hover {
  color: white;
}
.nav__item a:hover img {
  opacity: 1;
}
.nav__item--active {
  position: relative;
}
.nav__item--active::after {
  content: " ";
  background-color: #fff;
  width: 12px;
  height: 100%;
  border-radius: 0 8px 8px 0;
  position: absolute;
  top: 0;
  left: -1em;
}
.nav__item--active a {
  color: white;
}
.nav__item--active a img {
  opacity: 1;
}

.login {
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: center;
  gap: 120px;
  padding: 0.5em;
  align-items: center;
}
.login__title {
  font-family: "Poppins";
  color: #021E66;
  font-weight: bold;
  font-size: 2em;
  display: inline;
}
.login__description {
  font-size: 1em;
  color: #3E4D72;
}
.login__container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
.login__form {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.login__imgContainer {
  border-radius: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
.login__img {
  width: auto;
  height: 100%;
  border-radius: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 4/5;
}

.logo {
  margin-left: 3em;
  margin-top: 1em;
}

.dashboard {
  display: flex;
  height: 100vh;
  background-color: #F4F4F4;
}
.dashboard__content {
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: scroll;
}

.highlightsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.highlightsContainer .card {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.sunbust__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.sunbust__chart, .sunbust__infoContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sunbust__infoContainer {
  gap: 20px;
}
.sunbust__infoContainer .card {
  height: 100%;
}

.proficiency__resume {
  width: 50%;
  gap: 20px;
}
.proficiency__resume__titles, .proficiency__resume__content {
  width: 100%;
  display: flex;
  gap: 20px;
}
.proficiency__resume__titles h3, .proficiency__resume__titles div, .proficiency__resume__content h3, .proficiency__resume__content div {
  flex: 1;
}
.proficiency__resume__titles div, .proficiency__resume__content div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.emptyDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  gap: 1em;
}

.sunburstInfo {
  width: 40%;
  gap: 2em;
}

.complexChart {
  width: 50%;
  gap: 1.5em;
}
.complexChart canvas {
  width: 80%;
}

.proficiency__container {
  display: flex;
  gap: 20px;
}
.proficiency__container .proficiency__view {
  width: 50%;
  gap: 20px;
}
.proficiency__container .proficiency__view .infoValue {
  font-size: 48px;
}

.btnFilterContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.formTitle {
  text-align: center;
  margin-bottom: 32px;
}

.upload {
  display: flex;
  flex-direction: column;
  padding: 32px;
  align-items: center;
}

.uploadContainer {
  background: #F3F3F3;
  min-height: 180px;
  justify-content: space-around;
  margin-top: 32px;
  width: 60%;
}
.uploadContainer button {
  width: 50%;
}

.formSubTitle {
  text-align: center;
  margin-bottom: 32px;
}

main {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  align-items: center;
}

span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: bold;
  color: #3E4D72;
}

.testForm {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
}

.input-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.input-box span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 8px;
}

.infoContainer {
  display: flex;
  align-items: center;
}

.bxs-info-circle {
  cursor: pointer;
  font-size: 18px;
}

.selectForm {
  width: 80%;
  margin-bottom: 16px;
  border: 1px solid #1D1D1D;
  border-radius: 8px;
  padding: 8px;
  padding-right: 8px;
  margin-top: 8px;
}

select {
  padding-right: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../../resources/dropdown.png");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 16px;
}

.labelAdd {
  display: flex;
  align-items: baseline;
}

/*  Trust factor */
.trustOrganization {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trustLevel {
  padding: 32px;
}

.trustbox .bx {
  font-size: 48px;
}

.trustbox {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  text-align: center;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
}

.piramidJerarchy .bx {
  padding-left: 8px;
}

.piramidJerarchy {
  text-align: center;
}

.pyramidInfo {
  background-color: #F3F3F3;
  padding: 16px;
  margin-top: 16px;
  height: 100%;
  width: 100%;
  border-radius: 16px;
}

.pyramid {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

.pyramidContainers {
  width: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
}

.pyramid img {
  width: 48px;
}

.addInput {
  width: 77%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 8px;
}

.pyramid .labelAdd {
  display: inline-table;
  margin-top: 16px;
  width: 100%;
}

.pyramidInfo .title {
  margin-bottom: 16px;
}/*# sourceMappingURL=style.css.map */